<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="view" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>TRPG Character Sheet Maker</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="../public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="/public/js/button.js" charset="UTF-8"></script>


</head>
<body style="margin:0;background-color:#E0E0E0">

<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
    <li class="menu btn" onclick="get('/about')">關於</li>
    <li class="menu btn logged_in" onclick="get('/trpgsession')"style="visibility: hidden">團務</li>
    <li class="menu btn logged_in" onclick="get('/charactersheet')"style="visibility: hidden">角色卡管理</li>
    <li class="menu btn adminpost" onclick="get('/adminpost')" style="visibility: hidden">管理員貼文</li>
    <div class="submenu">
        <button class="subbtn btn validation" id="login" >登入</button>
        <button class="subbtn btn validation" id="signup" >註冊</button>
    </div>

    <div class="message" style="top: 24px;"></div>
</nav>
<div class="content">
    <h1 style="text-align: center;line-height:40px ;"><%=title%></h1>

    <div id="upload-window" style="top: 24px;display: none" >
            <form id="upload-sheet-form">
            <% if (user_status !== '你擁有的角卡都已上傳' && user_status !== '你還未擁有任何角色卡') { %>
                <% for(var j=0;j<user_sheet_name.length;j++) { %>
                    <label style="display: inline"><%= user_sheet_name[j] %> 系統:<%=user_system[j]%><input type="checkbox" name="upload" style="display: inline" value="<%=user_sheet_id[j]%>"></label><br>
                <% } %>
                <button type="submit" id="upload-check">上傳</button>
            <% } %>
            <% if (user_status == '你擁有的角卡都已上傳' || user_status == '你還未擁有任何角色卡') {%>
                    <p style="display: inline" ><%=user_status %></p>
            <% } %>
            </form>
            <button id="upload-disable">取消</button>
    </div>
    <div id="sheet-window" style="top:24px;display: none">
        <% if (session_status !='看來還沒有人上傳角卡') { %>
            <% for(var k=0;k<session_sheet_name.length;k++) { %>
                <p style="display: inline"><%= session_sheet_name[k] %> 系統:<%=session_system[k]%>擁有者:<%=session_sheet_player[k]%></p>
                <button style="display: inline-block" onclick=get("/charactersheet/<%=session_sheet_id[k]%>")>檢閱</button><br>
            <% } %>
        <% } %>
        <% if (session_status =='看來還沒有人上傳角卡') {%>
            <p style="display: inline" ><%=session_status%></p><br>
        <% } %>
           <button id="sheet-disable">關閉</button>
    </div>

    <div style="text-align: center">
            <% if (content[1] == null ) { %>
                <%  content.push('你還沒有玩家') %>
        <% }%>
        <div>gm:<%=content[0]%></div>
        player:
            <% for(var i=1;i<content.length;i++) { %>
                <div style="display: inline"><%= content[i] %></div><br>
        <% }%>
        <br>
    <button id="delete" class="btn session"><%=dismiss%></button>
    <button id="upload" class="btn session">上傳角卡</button>
    <button id="sheet-show" class="btn session">檢閱角卡</button>

    </div>
</div>
<script>
    $('#upload').click(function () {
        $('#upload-window').css('display','block');
        $('#sheet-window').css('display','none');
    })
    $('#sheet-show').click(function () {
        $('#sheet-window').css('display','block');
        $('#upload-window').css('display','none');
    })
    $('#sheet-disable').click(function () {
        $('#sheet-window').css('display','none');
    })
    $('#upload-disable').click(function () {
        $('#upload-window').css('display','none');
    })
    $('#upload-sheet-form').submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '../api/session/sheet_upload/<%=url%>',
            type: 'POST',
            data:$(this).serializeArray(),
            success:function(data){
                message(data)
                setTimeout(function(){
                    redirect('/trpgsession/<%=url%>')
                },1000)
            },
            error:function(data){
                message(data.responseText)
            },
        });
    })
    $('#delete').click(function (e) {
        e.preventDefault();

        $.ajax({
            url: '../api/session/delete/<%=url%>',
            type: 'GET',
            success:function(data){
                message(data)
                setTimeout(function(){
                    redirect('/trpgsession')
                },1000)
            },
            error:function(data){
                message(data.responseText)
            },
        });
    })
</script>
<div class="new_pusher"></div>
<div class="footer">
    Copyright © 2020 ItisCaleb & Kulimi. All rights reserved.
</div>
</body>
</html>
