<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="view" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>TRPG Character Sheet Maker</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="/public/js/main.js" charset="UTF-8"></script>


</head>
<body>

<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
    <li class="menu btn" onclick="get('/about')">關於</li>
    <li class="menu btn logged_in" onclick="get('/trpgsession')"style="visibility: hidden">團務</li>
    <li class="menu btn logged_in" onclick="get('/charactersheet')"style="visibility: hidden">角色卡管理</li>
    <li class="menu btn adminpost" onclick="get('/adminpost')" style="visibility: hidden">管理員貼文</li>
    <div class="submenu">
        <button class="subbtn btn validation" id="login" >登入</button>
        <button class="subbtn btn validation" id="signup" >註冊</button>
    </div>

    <div class="alert-message" style="top: 24px;"></div>

    <div class="message"></div>

</nav>
<div class="content">
    <h1 style="text-align: center;line-height:40px ;"><%=title%></h1>
    <div class="content-decribe" id="session"  style="text-align: center;line-height:30px ;">
    </div>
    <div style="text-align: center">
        <% if (content[0] =='你還沒創建團務' ) { %>
            <div><%=content[0]%></div>
        <% }else{ %>
        <% for(var i=0;i<content.length;i++) { %>
            <div style="display: inline"><%= content[i] %>  ----GM: <%= gm[i] %></div>
            <button class="btn session" onclick="redirect('/trpgsession/<%= url[i] %>')">進入</button><br>
        <% } %>
        <%}%>

        <button class="btn session" onclick="redirect('/trpgsession/join')">加入一個群組</button>
        <button class="btn session"  onclick="redirect('/trpgsession/create')">創建跑團群組</button>
    </div>
</div>

<div class="new_pusher"></div>
<div class="footer">
    Copyright © 2020 ItisCaleb & Kulimi. All rights reserved.
</div>
</body>
</html>
