<!DOCTYPE html>
<html lang="en">
<head>
    <%include head.ejs%>
</head>
<body>
<nav>
<% include header.ejs%>
</nav>
<% include rightmenu.ejs%>
<div class="content">
    <h1 style="text-align: center;line-height:40px ;"><%=title%></h1>
    <div class="content-decribe" id="session"  style="text-align: center;line-height:30px ;">
        團務系統可以讓你上傳你的角色卡<br>
        方便跑團時的GM以及團員檢閱<br>
        一個團務的玩家上限是15人
    </div>
    <div style="text-align: center">
        <% if (content[0] =='你還沒創建團務' ) { %>
            <div><%=content[0]%></div>
        <% }else{ %>
        <% for(var i=0;i<content.length;i++) { %>
            <div style="display: inline"><%= content[i] %>  ----GM: <%= gm[i] %></div>
            <button class="btn session" onclick="redirect('/trpgsession/<%= url[i] %>')">進入</button><br>
        <% } %>
        <%}%>

        <button class="btn session" onclick="redirect('/trpgsession/join')">加入一個群組</button>
        <button class="btn session"  onclick="redirect('/trpgsession/create')">創建跑團群組</button>
    </div>
</div>

<%include footer.ejs%>
</body>
</html>
