<!DOCTYPE html>
<html lang="en">
<head>
    <%include model/head.ejs%>
    <link href="/public/css/Sheet.css" rel="stylesheet" type="text/css" media="all">
    <script src="/public/js/sheet.js" charset="UTF-8"></script>
</head>
<body>
<nav>
<% include model/header.ejs%>
    <div id="create-window" class="message pop" style="top: 24px;display: none">
            <div class="message-div">
                <div class="message-alert">選擇系統
                    <div class="message-content" style="border:1px solid lightgray;display: table">
                        <div id="systems" >
                            <div class="systems-title" >
                                <div class="systems-title-tile systems-choose" id="choose-coc7th">
                                    COC7th
                                </div>
                            </div>
                            <div class="systems-title" >
                                <div class="systems-title-tile" id="choose-dnd5e">
                                    DND5e
                                </div>
                            </div>
                        </div>
                        <div style="display: inline-block;text-align: center;padding: 4px">
                            <div class="systems-info systems-coc7th" id="info-coc7th" >
                                <img class="systems-picture" src="/public/source/call-of-cthulhu-logo-black.jpg" alt="">
                                <div style="font-size: 14px">使用克蘇魯的召喚7版的系統<br>創建屬於你的調查員</div>
                            </div>
                            <div class="systems-info systems-dnd5e" id="info-dnd5e" style="display: none" >
                                <img class="systems-picture" src="/public/source/dungeons-and-dragons-5th-edition-logo.png" alt="">
                                <div style="font-size: 14px">使用龍與地下城5版的系統<br>創建屬於你的冒險者</div>
                            </div>
                            <label>輸入角色名稱:<input id="name" type="text"></label>
                            <button id="create-button" class="btn session">創建</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</nav>
<% include model/rightmenu.ejs%>
<div class="content" style="text-align: center;">
    <h1 style="text-align: center;line-height:40px ;"><%=title%></h1>
    <div class="content-decribe" id="session"  style="line-height:30px ;">
        一人可擁有的角色卡上限為20張<br>
        你現在共擁有<%=number%>張角色卡<br>
        直接點擊文字來檢閱或編輯角色卡<br>
        <% if (content[0] !=='你還沒創建角色卡' ) { %>
            <button class="btn session" onclick="$('#create-window').show()">創建角色卡</button>
        <% } %>
    </div>
    <% if (content[0] !=='你還沒創建角色卡' ) { %>
        <ul class="main-tabs">
            <li class="main-tab-link main-current" data-tab="main-tab-1">1</li>
            <% if (content.length > 10 ) { %>
                <li class="main-tab-link" data-tab="main-tab-2">2</li>
            <% }%>
        </ul>
    <% } %>
    <div style="width: 100%;">
        <div id="main-tab-1" class="main-tab-content main-current">
            <div style="text-align: center;width: 100%;height: 100%">
                <% if (content[0] =='你還沒創建角色卡' ) { %>
                    <p style="width: 100%;height: 100%;font-size: 30px" class="btn" onclick="$('#create-window').show()">創建角色卡</p>
                <% }else{ %>
                <table>
                    <tr>
                        <th>角色卡</th>
                        <th style="width: 30%">系統</th>
                    </tr>

                <% for(var i=0;i<content.length;i++) { %>
                        <% if (i>=10) { %>
                            <% break; %>
                        <%　}%>
                            <tr class="sheet" onclick="redirect('/charactersheet/<%= url[i] %>')">
                                <td><%= content[i]%></td>
                                <td><%=system[i] %></td>
                            </tr>
                <% } %>
                </table>
                <%}%>
            </div>
        </div>
        <div id="main-tab-2" class="main-tab-content">
            <div style="text-align: center;">
                <table>
                    <tr>
                        <th>角色卡</th>
                        <th style="width: 30%">系統</th>
                    </tr>

                    <% for(var k=10;k<content.length;k++) { %>
                        <tr class="sheet" onclick="redirect('/charactersheet/<%= url[k] %>')">
                            <td><%= content[k]%></td>
                            <td><%=system[k] %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

</div>

<%include model/footer.ejs%>
</body>
</html>
